<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <h2><%= recipe.title %></h2>
      <div class="content">
        <p><%= recipe.body %></p>
      </div>
      <a class="delete" data-doc="<%= recipe.id %>">delete</a>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script>
      const trashCan = document.querySelector(".delete");
      trashCan.addEventListener("click", (e) => {
        const endpoint = `/recipes/${trashCan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
