<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <!-- <header>
      <h1>Home page</h1>
    </header> -->

    <main>
      <h2>All recipes</h2>
      <% if (recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
      <a href="/recipes/<%= recipe._id %>">
        <h3 class="title"><%= recipe.title %></h3>
        <p class="snippet"><%= recipe.snippet %></p>
      </a>
      <% }) %> <% } else { %>

      <p class="no-recipes">There are no recipes to display</p>
      <% } %>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
